@import "./variables";

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: $color-dark, $alpha: 0.5);
  z-index: 2;

  &--hide {
    display: none;
  }

  @media (min-width: $desktop-s-bp) {
    display: none;
  }
}
